<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="Plongez dans l'univers de Rolepl.ai : Créez, gérez et vivez des aventures uniques avec notre plateforme de jeu de rôle textuel solo. Boostée par l'IA, chaque histoire est la vôtre. Rejoignez maintenant pour façonner votre destin.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://roleplai.fun">
        <meta property="og:title" content="Rolepl.ai">
        <meta property="og:description" content="Plongez dans l'univers de Rolepl.ai : Créez, gérez et vivez des aventures uniques avec notre plateforme de jeu de rôle textuel solo.">
        <meta property="og:image" content="/img/social-img.png">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:url" content="https://roleplai.fun">
        <meta name="twitter:title" content="Rolepl.ai">
        <meta name="twitter:description" content="Plongez dans l'univers de Rolepl.ai : Créez, gérez et vivez des aventures uniques avec notre plateforme de jeu de rôle textuel solo.">
        <meta property="og:image" content="{{ asset('img/share-image.jpg') | absolute_url }}">

        <link rel="icon" href="/img/sparkles_2728.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}    
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
        {% endblock %}
    </head>
    <body>
        {% include "base/_navbar.html.twig"%}
        <div class="cursor-follower"></div>

        <section class="pt-16 min-h-screen radient-background">
        {% block body %}{% endblock %}
        </section>
    </body>
    {{ encore_entry_script_tags('app') }}
    <script>
        // ANIMATION CURSOR FOLLOWER  
        document.addEventListener('mousemove', function(event) {
        const cursorFollower = document.querySelector('.cursor-follower');
        if (cursorFollower) {
            // Calculate the position for the gradient to follow the cursor
            const x = event.clientX;
            const y = event.clientY;
            // Update the gradient to create a small circle around the cursor
            cursorFollower.style.background = `radial-gradient(600px at ${x}px ${y}px, #fbbe2415, transparent`;
            cursorFollower.classList.remove('hidden');
            }

        });

        document.addEventListener('mouseleave', function() {
        const cursorFollower = document.querySelector('.cursor-follower');
        if (cursorFollower) {
            cursorFollower.classList.add('hidden');
        }
        });
    </script>
</html>
